body {
    margin: 0;
    padding: 0;
    background: url(file:///home/thekokigamer/Documents/mysite/Images/background2.jpg) 
    no-repeat;
    background-size: cover;
}

.box{
    width: 450px;
    background: rgba(0, 0, 0, 0,4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.box-img{
    border-radius: 50%;
    width: 205px;
    height: 275px;
}

.box h1{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 100;
}

.box h5{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 100;
}

.box p{
    text-align: justify;
}