* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #20212A;
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;
}

a {
    text-decoration: none;
}

header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}

.nav-area {
    list-style: none;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: .3s;
    color: #fff;
}

.nav-area li a:hover {
    color: #FF4A3B;
}

.btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #FF4A3B;
}